html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
}

.header {
  background-color: #151515;
}

.header-main {
  background-color: transparent;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
}

.header__inner {
  padding: 40px 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu__btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu__btn span {
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.menu__list {
  display: flex;
  gap: 35px;
}

.menu__list-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.menu__list-link--active {
  color: #0066FF;
}

.footer {
  background-color: #151515;
  padding: 50px 0 32px;
  color: #fff;
}

.footer__menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.footer__menu-list {
  max-width: 250px;
}

.footer__menu-item+.footer__menu-item {
  padding-top: 20px;
}

.footer__menu-title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}

.app {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 52px;
}

.footer__copy {
  max-width: 806px;
  margin: 0 auto 30px;
  text-align: center;
  font-size: 12px;
}

.footer__copy-number {
  text-decoration: underline;
}

.copy__nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.main {
  flex-grow: 1;
}

.top {
  color: #fff;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 50px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}

.title {
  padding-bottom: 40px;
  font-size: 96px;
  font-weight: 700;
}

.top__link {
  display: inline-block;
  background-color: #151515;
  max-width: 430px;
  width: 100%;
  padding: 23px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
}

.swiper::after {
  content: '';
  background: rgba(21, 21, 21, .3);
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.swiper-slide {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#main__slider .swiper-pagination {
  bottom: 50px;
}

#main__slider .swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background-color: #151515;
  border-radius: 0;
  opacity: 1;
  margin: 0 15px;
}

#main__slider .swiper-pagination-bullet-active {
  height: 6px;
  background-color: #fff;
}

.why-lease {
  padding: 150px 0;
}

.why-lease__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
}

.why-lease__item-img {
  margin-bottom: 30px;
}

.why-lease__item-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.why-lease__item-text {
  text-align: left;
}

.how-does {
  padding-bottom: 150px;
}

.how-does__inner {
  max-width: 600px;
  margin: 0 auto;
}

.how-does__title {
  font-size: 24px;
  font-weight: 700;
  padding-top: 50px;
}

.how-does__list {
  padding: 50px 0 70px;
  counter-reset: myCounter;
}

.how-does__item {
  list-style-type: none;
  width: 270px;
  position: relative;
  margin-left: auto;
  box-sizing: content-box;
  padding: 19px 0 19px 240px;
  min-height: 63px;
}

.how-does__item+.how-does__item {
  margin-top: 40px;
}

.how-does__item::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0066FF;
  font-size: 48px;
  font-weight: 700;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
}

.welcome {
  padding-bottom: 150px;
  text-align: center;
}

.video-title {
  margin-bottom: 20px;
}

.welcome-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
}

.important {
  padding-bottom: 150px;
}

.important-title {
  margin-bottom: 20px;
}

.important__text {
  margin: 0 auto 50px;
  max-width: 580px;
}

.important__list {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
}

.important__item-img {
  margin-bottom: 20px;
}

.contacts {
  padding: 100px 0 150px;
}

.contacts-maintitle {
  margin-bottom: 20px;
}

.contacts-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 100px;
  text-align: center;
}

.form {
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__input {
  padding: 18px 20px;
  width: 270px;
  display: inline-block;
  border: 1px solid #0066FF;
  margin-bottom: 50px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  color: #000;
}

.form__input::placeholder,
.form__textarea::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  color: #000;
  opacity: 0.5;
}

.form__textarea {
  padding: 28px 20px;
  display: inline-block;
  border: 1px solid #0066FF;
  width: 100%;
  height: 290px;
  resize: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  color: #000;
  opacity: 0.5;
  margin-bottom: 50px;
}

.form__btn {
  color: #fff;
  background-color: #151515;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  padding: 15px 61px;
  margin: 0 auto;
  border: none;
}

.blog {
  padding-bottom: 150px;
}

.blog__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 70px;
}

.blog__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog__item-img {
  margin-bottom: 30px;
  width: 100%;
}

.blog__item-title {
  flex-basis: 446px;
  font-size: 24px;
  font-weight: 700;
}

.blog__item-link {
  color: #fff;
  background-color: #0066FF;
  padding: 4px 20px;
}

.showmore-link {
  display: block;
  width: 225px;
  text-align: center;
  color: #fff;
  background-color: #151515;
  padding: 13px;
  margin: 0 auto;
}

.choose {
  padding: 100px 0 150px;
}

.choose__tabs-btn {
  padding: 0 150px 100px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.choose__tabs-btn_item {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.choose__tabs-btn_item--active {
  color: #0066FF;
}

.choose__tabs-content_item {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px 40px;
  margin-bottom: 70px;
}

.choose__tabs-content_item.choose__tabs-content_item--active {
  display: grid;
}

.card {
  text-align: center;
}

.card__img {
  width: 100%;
  border: 1px solid #0066FF;
  display: block;
}

.card__content {
  padding: 20px 0 5px;
  border: 1px solid #0066FF;
  border-top: 0px;

}

.card__title,
.card__text,
.card__price {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card__text {
  font-size: 16px;
  font-weight: 400;
}

.card__details {
  color: #0066FF;
  border: 1px solid #0066FF;
  display: block;
  border-top: 0px;
}

@media (max-width: 1200px) {
  .important__list {
    gap: 30px 20px;
  }
  .important__item-img {
    width: 100%;
  }
  .choose__tabs-content_item {
    grid-template-columns: repeat(3, 1fr);

  }
}

@media (max-width: 1040px) {
  .welcome__video {
    width: 100%;
  }
  .choose__tabs-btn {
    padding: 0 0 50px;
    gap: 20px;
  }
}

@media (max-width: 860px) {
  .menu__btn {
    display: flex;
  }

  .menu__list {
    position: absolute;
    z-index: 5;
    height: 100vh;
    background-color: #151515;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform .3s ease;
  }

  .menu__list.menu__list--active {
    transform: translateY(0)
  }

  .logo,
  .menu__btn {
    position: relative;
    z-index: 10;
  }

  .why-lease__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .important__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .choose__tabs-content_item {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 70px;
  }
  .top__link {
    max-width: 360px;
    font-size: 28px;
    padding: 16px;
  }
  #main__slider .swiper-pagination-bullet {
    width: 60px;
  }
  #main__slider .swiper-pagination-bullet-active {
    height: 4px;
  }
  .footer__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .welcome__video {
    height: 400px;
  }
  
}
@media (max-width: 650px) {
  .choose__tabs-content_item {
    grid-template-columns: repeat(1, 1fr);
  }
  .choose__tabs-btn {
    flex-direction: column;
  }
  .blog__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .contacts {
    padding: 50px 0;
  }
  .contacts-title {
    padding: 0;
  }
  .form__input {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 540px) {
  .title {
    font-size: 60px;
  }
  .top__link {
    max-width: 310px;
    font-size: 24px;
  }
  #main__slider .swiper-pagination-bullet {
    width: 35px;
    margin: 0 10px;
  }
  #main__slider .swiper-pagination-bullet-active {
    height: 4px;
  }
  .why-lease {
    padding: 50px 0;
  }
  .why-lease__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-title {
    font-size: 34px;
  }
  .how-does__list {
    padding: 30px 0 40px;
  }
  .how-does {
    padding-bottom: 50px;
  }
  .how-does__item {
    padding: 65px 0 20px;
    margin: 0 auto;
  }
  .how-does__item::before {
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    font-size: 32px;
  }
  .welcome__video {
    height: 200px;
  }
  .welcome {
    padding-bottom: 50px;
  }
  .important__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .important {
    padding-bottom: 50px;
  }
  .app, .copy__nav-list {
    flex-direction: column;
    align-items: center;
  }
  .copy__nav-list {
    gap: 20px;
  }
  .blog__item-title {
    margin-bottom: 10px;
  }
  .blog__item-link {
    margin-left: auto;
  }
  .choose {
    padding: 50px 0;
  }
  .blog {
    padding-bottom: 50px;
  }
  .choose__tabs-content_item {
    gap: 40px;
  }
}